body{
	/*background: #0b0c10;*/
	background: url("images/bgimg1.jpg") no-repeat, black !important;
	font-family: 'Titillium Web', sans-serif;
	margin: 0px;
	/*background-repeat: no-repeat;*/
	background-size: 100%;
}

#about, #skills, #projects{
	margin-bottom: 200px;
	margin-right: 50px;
}

	/* <======Header======> */

.navbar{
	display: flex;

	justify-content: space-between;
	align-items: flex-start;

	margin-top: 25px;
	margin-bottom: 80px;
	padding: 0px 50px 0px 50px;
}

.logo{
	width: 40%;
}

#nav-main{
	display: flex;
	justify-content: flex-end;
}

.nav-item{
	margin: 30px;
	font-size: 20px;
	
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
}

.nav-item a{
    color: #dfe5e8;
    text-decoration: none;
}

.nav-item a:hover{
    color:#ffffff; 
    text-decoration:none; 
    cursor:pointer; 
    text-shadow: 2px 2px 10px; 
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0.1;
        transform: scale(0.2);0
    }
    100% {
        opacity: 1;
        transform: scale(1);
     }
}

	/* <======Landing Page======> */

.heading-container{
	margin-top: 50px;
	margin-left: 200px;
	margin-bottom: 200px;

	-webkit-animation: fadeInAnimation ease 1s -0.1s;
    animation-fill-mode: forwards;
}

.heading{
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	color: #ffffff;
	font-size: 100px;
	margin: 10px;
	width: 60%;
	text-shadow: 0px 0px 6px;
}

.sub-heading{
	color: #acaeb4;
	font-size: 25px;
	margin: 10px;
	width: 60%;
}

	/* <====== Headings ======> */

.section-heading{
	color: #fff;
	font-size: 22px;
	letter-spacing: 5px;
	line-height: 32px;
	position: relative;
	top: -48px;
	text-align: center;
}

.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
  margin-bottom: 50px;
  justify-content: center;
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

	/* <====== About ======> */

.my-image{
	margin: 10px;
	display: flex;
	justify-content: space-around;

	align-items: center;
}

.my-image img{
	width: 30%;
}

.my-image-item{
	margin: 10px;
	width: 400px;

	flex-grow: ;
	text-align: center;
	color: #A2A2A2;
}

	/* <====== Skills ======> */

#skill-container{
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto auto auto auto;
	justify-content: center;
}

.skill-item{
	margin: 25px;
	padding: 25px;
	background: rgba(171, 182, 194, 0);
	position: relative;
}

.skill-item:hover{
	background: rgba(171, 182, 194, 0.4);
	transition: background 0.75s ease;
}

.skill-item-img{
	width: 120px;	
}

.skill-item:hover > .skill-item-img{
	opacity: 0.5;
	filter: blur(3px);
	transition: opacity,filter 0.75s ease;

}

.skill-item-text{
	position: absolute;
	font-size: 20px;
	color: black;
	font-weight: bold;
	opacity: 0;
}

.skill-item:hover > .skill-item-text{
	opacity: 1;
	transition: opacity 0.75s ease;
}

.meter{
	padding: 2px;
	width: 100%;
	max-width: 500px;
	height: 3px;
}

.skill-item:hover > .meter .progress {
	height: 100%;
	width: 0%;
	background-color: #05e35e;
	animation: fill-bar 2s infinite;
}

@keyframes fill-bar {
  from {width: 0%;}
  to {width: 100%;}
}

	/* <====== Contact ======> */

.contact-container{
	display: flex;
	margin: 50px 100px 50px 100px;
	justify-content: space-between;
	/*background: gray;*/
}

.contact-flex-left{
	flex-grow: ;
}

.contact-flex-right{
	flex-grow: ;
}

.contact-text{
	font-size: 50px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	color: white;
	letter-spacing: 2px;
	margin-bottom: 40px;
}

.contact-subtext{
	color: #abadb3;
	align-items: center;
	margin-left: 20px;
}

.hr-theme-slash-2 {
	display: flex;
	margin: 30px 0px 30px 0px;

}
.hr-line {
	width: 100%;
	position: relative;
	margin: 15px;
	border-bottom: 2px solid white;
}
.hr-icon {
	position: relative;
	top: 3px;
	color: white;
}

.social{
	display: flex;
	justify-content: space-around;
	
}

.social .fab{
	color: #fff;
	font-size: 35px;
    line-height: 60px;
    transition: .3s;
}

.social a{
	position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
    transition: .6s;
}

.social a:hover{
	transform: translate(0, -10%);
	background: #fff;
}

.social a:hover > .fab{
	color: #000;
}
.contact-flex-right{
	margin-top: 40px;
	display: flex;
	width: 40%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

.social li{
	list-style-type: none;
	transition: transform 0.2s;
	margin-left: -40px;
	width: 50px;
}

.social li:hover{
	transform: scale(1.2);
}






/* Playing Around */

.container{
	background: #fafafa;
	margin: 10px;
	height: 300px;
	display: flex;

	justify-content: center;		/* Horizontal Alignment */
	align-items: center;				/* Vertical Alignment */

}

.container-item{
	background: #1c7326;
	color: white;
	font-size: 25px;

	text-align: center;
	width: 70px;
	line-height: 50px;
	margin: 10px;
	flex-basis: 100px;
}

.grid-container{
	background: rgb(250,250,250);
	margin: 10px;
	height: 300px;

	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	justify-content: space-around;
}

.grid-item{
	color: black;
	font-size: 25px;
	text-align: center;

	width: 70px;
	line-height: 40px;
	margin: 10px;
}