body{
	background: #232122;
	font-family: 'Titillium Web', sans-serif;
}

.heading-container{
	margin-top: 50px;
	margin-left: 200px;
	margin-bottom: 200px;

	display: grid;
}

.heading{
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	
	color: #ffffff;
	font-size: 100px;
	margin: 10px;
}

.sub-heading{
	color: #A2A2A2;
	font-size: 30px;
	margin: 10px;
}

.my-image{
	margin: 10px;
	display: flex;
	justify-content: space-around;

	align-items: center;
}

.my-image img{
	width: 30%;
}

.my-image-item{
	margin: 10px;
	width: 400px;

	flex-grow: ;
	text-align: center;
	color: #A2A2A2;
}

.social li{
	list-style-type: none;
	transition: transform 0.2s;
	margin-left: -40px;
	width: 50px;
}

.social li:hover{
	transform: scale(1.2);
}

.navbar{
	text-align: right;
	display: flex;

	justify-content: space-between;
	align-items: flex-start;

	
}

.nav-item{
	margin: 20px;
	font-size: 25px;
	flex-grow: 1;

	text-align: center;
}

.nav-item a{
    color: #0060B6;
    text-decoration: none;
}

.nav-item a:hover{
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

.logo{
	align-content: left;
	width: 10%;
}

#skill-container{
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto auto auto;
	justify-content: space-around;
}

.skill-item img{
	width: 100px;
}

/* Playing Around */

.container{
	background: #fafafa;
	margin: 10px;
	height: 300px;
	display: flex;

	justify-content: center;		/* Horizontal Alignment */
	align-items: center;				/* Vertical Alignment */

}

.container-item{
	background: #1c7326;
	color: white;
	font-size: 25px;

	text-align: center;
	width: 70px;
	line-height: 50px;
	margin: 10px;
	flex-basis: 100px;
}

.grid-container{
	background: rgb(250,250,250);
	margin: 10px;
	height: 300px;

	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	justify-content: space-around;
}

.grid-item{
	color: black;
	font-size: 25px;
	text-align: center;

	width: 70px;
	line-height: 40px;
	margin: 10px;
}