#contact {
	min-height: calc(100vh - 4rem);
	overflow: hidden;
	width: 100vw;
	max-width: 60rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "DM Sans";
	font-style: normal;
	text-align: center;
	margin: 0 auto;
}

.title {
	font-weight: 700;
	font-size: 3rem;
	line-height: 6rem;
	margin: 1rem 0;
	color: #ffffff;
}

.description {
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 1.4rem;
	margin: 0 1rem;
	color: #ffffff;
}

.contact-form {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90vw;
	max-width: 60rem;
}

textarea {
	font-family: inherit;
	font-size: inherit;
	resize: none;
}

.name,
.email,
.message {
	font-size: medium;
	line-height: 1.75rem;
	width: 100%;
	max-width: 40rem;
	margin: 0.5rem;
	padding: 0.5rem 1rem;
	color: white;
	border: none;
	border-radius: 0.5rem;
	background: rgb(40, 40, 40);
}

.submit-btn {
	-webkit-text-fill-color: black;
	font-size: 1rem;
	font-weight: 400;
	background: white;
	border: none;
	border-radius: 0.5rem;
	margin: 2rem;
	padding: 0.75rem 3.5rem;
}

.submit-btn:active {
	transform: translate(0px, 2px);
}

.social-links {
	display: flex;
	justify-content: space-around;

	width: 100%;
	max-width: 15rem;
}

.fa-icon {
	cursor: pointer;
	transition: transform 0.2s;
}

.fa-icon:hover {
	transform: scale(1.2);
}

a {
	all: unset;
}
