#about {
	overflow: hidden;
	width: 100vw;
	max-width: 60rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "DM Sans";
	font-style: normal;
	text-align: center;
	margin: 0 auto;
}

.title {
	font-weight: 700;
	font-size: 3rem;
	line-height: 6rem;
	margin: 1rem 0;
	color: #ffffff;
}

.description {
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.5rem;
	margin: 1.5rem;
	color: #ffffff;
}

.tags {
	color: #86bbf8;
}

.services-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 4rem auto;
}

.service {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 250px;
	min-width: 80px;
	height: auto;
	margin: 1rem 2rem;
	padding: 1.5rem 2rem;
	text-align: left;
	background: #212121;
	border-radius: 1.25rem;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.75rem;
	color: #535353;
	row-gap: 1.5rem;
}

.service:nth-child(2) {
	border-image: linear-gradient(#f67e6f, #9a33ff) 90;
	border-image-width: 0 0 5px 0;
	border-style: solid;
	-webkit-box-shadow: 0px 1px 13px 0px rgba(188, 188, 188, 0.75);
	-moz-box-shadow: 0px 1px 13px 0px rgba(188, 188, 188, 0.75);
	box-shadow: 0px 1px 13px 0px rgba(188, 188, 188, 0.75);
}

.service > img {
	width: 20%;
	height: auto;
}

.skills-container {
	margin: 2rem 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
	grid-template-rows: repeat(4, 1fr);
	column-gap: 4rem;
	width: 80%;
}

.progressBar {
	display: flex;
	column-gap: 2rem;
	margin: 1rem;
	position: relative;
}

.progressBar > img {
	height: 2.5rem;
	width: auto;
}

@media screen and (max-width: 480px) {
	.description {
		font-size: 1rem;
		line-height: 1.4rem;
	}

	.services-container {
		margin: 2rem auto;
	}
	.service {
		padding: 1rem 1.25rem;
		font-size: 4.5vw;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		width: 80%;
		height: auto;
		column-gap: 0;
	}

	.service > img {
		height: 2.25rem;
		width: 2.25rem;
		margin-right: 1.5rem;
	}

	.skills-container {
		width: 90%;
		column-gap: 0.5rem;
	}

	.progressBar {
		column-gap: 0.75rem;
	}

	.progressBar > img {
		height: 2rem;
		width: auto;
	}
}
