#intro {
	height: calc(100vh - 4rem);
	width: 100vw;
	max-width: 85rem;
	margin: 0 auto;
	padding: 1rem 2rem;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

#ketan-img {
	width: 100%; /* Ensure the image takes full width of the container */
	height: auto; /* Maintain the image's aspect ratio */
	max-width: 100%; /* Set a maximum width for the image */
	min-width: 100px;
	display: block;
	border-radius: 50%;
}

.circle {
	background: linear-gradient(135deg, #ff8660, #c959b6, #b549d5, #9b34fd, #9a33ff);
	width: 100%; /* Ensure the container takes full width */
	height: auto; /* Ensure the container takes full height */
	max-width: 100%; /* Adjust the max-width considering padding on both sides */
	max-height: 100%; /* Set a maximum height for the container */
	min-width: 100px;
	border-radius: 50%;
	overflow: hidden;
	padding: 0.5rem;
	box-sizing: border-box;
}

.image-container {
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	padding: 2rem;
}

.intro-contents {
	flex: 3;
	height: 100%;
	font-family: "DM Sans";
	font-style: normal;
	padding-left: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.intro-head {
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 4rem;
	letter-spacing: 0.15rem;
}

.intro-text {
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3rem;
	margin: 0.5rem 0;
	background: linear-gradient(
		to right,
		#ff8660,
		#c959b6,
		#b549d5,
		#a73eea,
		#a037f6,
		#9b34fd,
		#9a33ff
	);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.cursor {
	animation: blinker 0.75s steps(2, start) infinite;
	-webkit-animation: blinker 0.75s steps(2, start) infinite;
}

@keyframes blinker {
	to {
		visibility: hidden;
	}
}

@-webkit-keyframes blinker {
	to {
		visibility: hidden;
	}
}

.button-container {
	display: flex;
	justify-content: left;
}

.button-container > a {
	padding: 1.2rem;

	text-align: center;
	text-decoration: none;
	font-size: 1.2rem;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	cursor: pointer;
}

.button2 {
	background-color: white;
	width: 11rem;
	margin: 2.5rem 0;
	border: none;
	color: black;
}
.button1 {
	background-color: transparent;
	width: 10rem;
	border: 1px solid white;
	color: white;
	margin: 2.5rem 1rem 2.5rem 0;
}

.button1:hover {
	background-color: white;
	color: black;
}

.button2:active,
.button1:active {
	transform: translate(0px, 2px);
}

@media screen and (max-width: 1080px) {
	#intro {
		display: block;
		margin-top: 1rem;
		height: auto;

		padding: 1rem;
	}

	.circle {
		padding: 0.5rem;
	}

	.intro-contents {
		padding: 1rem;
	}

	.intro-text {
		font-size: 1.75rem;
		letter-spacing: -1px;
	}

	.intro-head {
		font-size: 2.75rem;
		line-height: 2.5rem;
		letter-spacing: 0;
	}

	.button-container {
		justify-content: center;
		column-gap: 1rem;
	}

	.button-container > a {
		margin: 1.5rem 0;
		padding: auto 2rem;
		font-size: 0.9rem;
		flex-basis: auto;
	}

	.button1 {
		width: auto;
	}

	.button2 {
		margin-left: 0.5rem;
		width: auto;
	}
}
